<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center">
            <span style="font-size: 10vh; color: Dodgerblue;">
                <i class="fas fa-thumbtack"></i>
            </span>
    </div>

    <h2>Jest błąd: <h1 th:text="${message}"></h1></h2>
    <h2>Jest błąd: <h1 th:text="${stack}"></h1></h2>
 </div>

</body>
</html>