<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Form</title>
</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center">
            <span style="font-size: 10vh; color: Dodgerblue;">
                <i class="fas fa-thumbtack"></i>
            </span>
    </div>

    <!--<h2>Published procedures</h2>-->

    <h1 th:text="${#numbers.formatInteger(procedures.filteredProcedures.size()*100/(procedures.goingToPublish.size()+procedures.filteredProcedures.size()),0)} + '%'"></h1>
    <h2>Published procedures</h2>
    <h1 th:text="${procedures.filteredProcedures.size()}"></h1>
    <div th:each="procedure : ${procedures.filteredProcedures}">
        <p th:text="${procedure.getKey() + ' ' + procedure.getValue().split(',')[2]}"></p>
    </div>

    <h2>Going to be published:</h2>
    <h1 th:text="${procedures.goingToPublish.size()}"></h1>
    <div th:each="going : ${procedures.goingToPublish}">
        <p th:text="${going}"></p>
    </div>
</div>

</body>
</html>